@import "tailwindcss";
/* @import "@nuxt/ui"; */


@theme{
    --color-primary: #4F5B49;
    --color-base: #55566F;
    --color-secondary:#B8922A;
    --color-alt: #FFF7F8;
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
}